body {
    font-family: Arial, sans-serif;
    color:rgb(4, 59, 76);
    font-weight: bold;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #c7eafc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 2, 3, 0.959);
    font-size: 1.2em;
}

h3 {
    margin: 0;
    text-align: center;
    color: rgb(2, 44, 92);
}

button {
    margin: 10px 0;
    display: block;
    width: 100%;
    background-color: rgb(164, 211, 250);
    border-radius: 4px;
    padding: 1em;
    color: rgb(2, 44, 92);
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

#question-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.box {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

button:hover, :focus {
    background-color: #79b1e0;
    cursor: pointer;
}

.option-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.option-label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.2em;
}

.option-button {
    flex: 1;
    padding: 1em;
    background-color: #a4d3fa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #02445c;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

.option-button:hover, :focus {
    background-color: #82c2f1;
}

#next-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 1em;
    background-color: #17a2b8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

#next-button:hover {
    background-color: #138496;
}
